{{define "footer"}}<div class="footer">
            <p><a href="matchups.html">Matchup Matrix</a> | Powered by <a href="https://github.com/melee-elo-ranking">Melee ELO Rankings</a></p>
        </div>{{end}}
